@model TimeSheetGistics.Data.CompanyBranchUser

<fieldset>
    <legend>CompanyBranchUser</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BranchId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BranchId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GravatarUrl)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GravatarUrl)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
